@using ServiceControl.Web.Startup
@using ServiceControl.Web.Models.Orders
@{
    ViewBag.Title = L("Booking");
    ViewBag.CurrentPageName = PageNames.Booking;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Orders/Export.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Orders/Booking.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Orders/Export.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Orders/Booking.js" asp-append-version="true"></script>
    </environment>
}

<div class="card">
    <div class="card-header">
        @await Html.PartialAsync("~/Views/Orders/Index.AdvancedSearch.cshtml")
    </div>
</div>
<div id="spreadsheet"></div>

